In [5]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [6]:

# Load the dataset
df = pd.read_csv("car_data.csv")
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [7]:
# 13. Most common owner count
print("\n13. Most Common Owner Count:", df['Owner'].mode()[0])

13. Most Common Owner Count: 0

In [8]:
# 14. Avg Kms Driven
print("\n14. Average Kms Driven:", df['Kms_Driven'].mean())

14. Average Kms Driven: 36947.20598006644

In [28]:
# 15. Car with highest Present Price
most_exp_car = df[df['Present_Price'] == df['Present_Price'].max()]
print("\n15. Car with Highest Present Price:\n", most_exp_car[['Car_Name', 'Present_Price']])

15. Car with Highest Present Price:
         Car_Name  Present_Price
86  land cruiser           92.6

In [10]:
# 16. Correlation matrix
print("\n16. Correlation:\n", df[['Selling_Price', 'Present_Price', 'Kms_Driven']].corr())

16. Correlation:
                Selling_Price  Present_Price  Kms_Driven
Selling_Price       1.000000       0.878983    0.029187
Present_Price       0.878983       1.000000    0.203647
Kms_Driven          0.029187       0.203647    1.000000

In [11]:
# 17. Avg Selling Price by Seller Type
print("\n17. Avg Selling Price by Seller Type:\n", df.groupby('Seller_Type')['Selling_Price'].mean())

17. Avg Selling Price by Seller Type:
 Seller_Type
Dealer        6.721692
Individual    0.870943
Name: Selling_Price, dtype: float64

In [12]:
# 18. Count of each Fuel Type
print("\n18. Count of Fuel Types:\n", df['Fuel_Type'].value_counts())

18. Count of Fuel Types:
 Fuel_Type
Petrol    239
Diesel     60
CNG         2
Name: count, dtype: int64

In [13]:
# 19. Count of cars with more than 1 owner
print("\n19. Cars with >1 Owner:", len(df[df['Owner'] > 1]))

19. Cars with >1 Owner: 1

In [14]:
# 20. Top 5 most expensive cars
print("\n20. Top 5 Most Expensive Cars:\n", df.sort_values(by='Selling_Price', ascending=False).head(5))

20. Top 5 Most Expensive Cars:
         Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
86  land cruiser  2010           35.0          92.60       78000    Diesel
64      fortuner  2017           33.0          36.23        6000    Diesel
63      fortuner  2015           23.5          35.96       47000    Diesel
51      fortuner  2015           23.0          30.61       40000    Diesel
93      fortuner  2015           23.0          30.61       40000    Diesel

   Seller_Type Transmission  Owner
86      Dealer       Manual      0
64      Dealer    Automatic      0
63      Dealer    Automatic      0
51      Dealer    Automatic      0
93      Dealer    Automatic      0

In [15]:
# 21. Average difference between Present_Price and Selling_Price
avg_diff = (df['Present_Price'] - df['Selling_Price']).mean()
print("21. Average difference between Present_Price and Selling_Price:", avg_diff)

21. Average difference between Present_Price and Selling_Price: 2.967176079734219

In [16]:
# 22. Number of cars sold by Individual vs Dealer
seller_counts = df['Seller_Type'].value_counts()
print("\n22. Cars sold by Seller_Type:\n", seller_counts)

22. Cars sold by Seller_Type:
 Seller_Type
Dealer        195
Individual    106
Name: count, dtype: int64

In [17]:
# 23. Number of cars manufactured before 2010
before_2010 = df[df['Year'] < 2010].shape[0]
print("\n23. Cars manufactured before 2010:", before_2010)

23. Cars manufactured before 2010: 26

In [18]:
# 24. Year with highest number of car listings
year_counts = df['Year'].value_counts()
top_year = year_counts.idxmax()
print("\n24. Year with highest listings:", top_year, "with", year_counts.max(), "cars")

24. Year with highest listings: 2015 with 61 cars

In [19]:
# 25. Percentage of cars by fuel type
fuel_percent = df['Fuel_Type'].value_counts(normalize=True) * 100
print("\n25. Percentage of cars by Fuel_Type:\n", fuel_percent)

25. Percentage of cars by Fuel_Type:
 Fuel_Type
Petrol    79.401993
Diesel    19.933555
CNG        0.664452
Name: proportion, dtype: float64

In [20]:
# 26. Highest and lowest Kms_Driven for each fuel type
kms_stats = df.groupby('Fuel_Type')['Kms_Driven'].agg(['min', 'max'])
print("\n26. Kms_Driven stats by Fuel_Type:\n", kms_stats)

26. Kms_Driven stats by Fuel_Type:
              min     max
Fuel_Type
CNG        35500   49998
Diesel      2071  197176
Petrol       500  500000

In [26]:
# 27. Number of cars with exactly 0 previous owners
zero_owner = df[df['Owner'] == 0].shape[0]
print("\n27. Cars with 0 previous owners:", zero_owner)

27. Cars with 0 previous owners: 290

In [22]:
# 28. Unique combinations of Fuel_Type, Seller_Type, and Transmission
unique_combos = df[['Fuel_Type', 'Seller_Type', 'Transmission']].drop_duplicates().shape[0]
print("\n28. Unique Fuel_Type, Seller_Type, Transmission combinations:", unique_combos)

28. Unique Fuel_Type, Seller_Type, Transmission combinations: 8

In [23]:
# 29. Average Selling_Price of cars with more than 2 previous owners
avg_price_over2_owners = df[df['Owner'] > 2]['Selling_Price'].mean()
print("\n29. Avg Selling_Price with >2 owners:", avg_price_over2_owners)

29. Avg Selling_Price with >2 owners: 2.5

In [25]:
# 30. Cars where Selling_Price is greater than Present_Price
selling_gt_present = df[df['Selling_Price'] > df['Present_Price']].shape[0]
print("\n30. Cars with Selling_Price > Present_Price:", selling_gt_present)

30. Cars with Selling_Price > Present_Price: 0